<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <enableContextMap>true</enableContextMap>
      <includeCallerInfo>true</includeCallerInfo>
    </encoder>
  </appender>

  <logger name="com.example" level="DEBUG" />
  <logger name="akka" level="INFO" />

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
